.badge-active {
    color: #fff;
    background-color: lightgreen;
  }
  
  .badge-hidden {
    color: #212529;
    background-color: lightgrey;
  }
  
  .badge-matched {
    color: #fff;
    background-color: red;
  }
  
  .badge-private {
    color: #fff;
    background-color: lightblue;
  }
  