.badge-active {
    color: #fff;
    background-color: lightgreen;
  }
  
  .badge-hidden {
    color: #212529;
    background-color: lightgrey;
  }
  
  .badge-matched {
    color: #fff;
    background-color: red;
  }
  
  .badge-private {
    color: #fff;
    background-color: lightblue;
  }
  
.dropdown-menu.show {
  max-height: 150px; /* Set the max height of the dropdown options */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrolling if unnecessary */
  z-index: 1050;
}


/* Add stilization for spacing div to increase the gap from dropdown */
div.spacing {
  height: 5rem !important;
  display: block !important;
}

/* Custom alignment of user greeting message and Login buttons */
/* .greeting-container {
  display: flex; 
  align-items: center; 
  gap: 15px; 
} */

.greeting-text {
  margin: 0; 
  color: #ffffff; 
  font-size: 1.2rem;
  font-weight: bold;
}

.greeting-text a {
  color: #0056b3;
  text-decoration: none;
}

.greeting-text a:hover {
  text-decoration: underline;
}

.greeting-container .btn {
  margin: 0;
}

/* Custom styling for hilighting resumes listing in match-single.html */
.selected-resume {
  background-color: #f0f8ff; /* Light blue */
  border-left: 5px solid #007bff; /* Blue highlight */
}
