<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - Between Jobs</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="../static/css/custom-bs.css">
    <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../static/fonts/line-icons/style.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <link rel="stylesheet" href="../static/css/user.css">  -->
</head>
<body id="top">

    <!-- Loader -->
  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

    <div class="site-wrap">
        <!-- Header -->
        <header class="site-navbar mt-3">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="site-logo col-6"><a href="home">BetweenJobs</a></div>
                    <nav class="mx-auto site-navigation">
                        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                            <li><a href="home">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <!-- Reset password Section -->
        <section class="section-hero overlay bg-image" style="background-image: url('../static/images/hero_1.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; height: 100vh; width: 100%; position: relative;">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-10">
                        <div class="form-box login-container">
                            <h2 class="text-white text-center mb-4">Reset your Pasword</h2>

                <form action="/reset_password_form" method="post" class="p-4 bg-light">

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>
                
                <label for="password">New Password:</label>
                <input type="password" id="new_password" name="new_password" required><br><br>
    
                <label for="confirm">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required><br><br>
                
                <button type="submit">Update Password</button>
            </form>

            <!-- Error Message -->
            {% if error %}
                <section id="errors">
                    <p style="color: red;">{{ error }}</p>
                </section>
            {% elif user %}
                <p>{{ user.username }}! Your have successfully changed your password.</p>
            {% endif %}
        </section>
        
        <!-- Footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12">
                        <p class="copyright">
                            &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | Between Jobs
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.fancybox.min.js"></script>
    <script src="../static/js/custom.js"></script>
</body>
</html>
