# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - betweenjobs-webapp

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to registry
      uses: docker/login-action@v2
      with:
        registry: https://betweenjobsacr.azurecr.io/
        username: ${{ secrets.AzureAppService_ContainerUsername_b5bc44e5a0ab427099f51ea66483d6db }}
        password: ${{ secrets.AzureAppService_ContainerPassword_179e7757200244efa51abcd3a824fffb }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: betweenjobsacr.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_b5bc44e5a0ab427099f51ea66483d6db }}/betweenjobs:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'betweenjobs-webapp'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_740b8f3974ec424093e120e65f0f837b }}
        images: 'betweenjobsacr.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_b5bc44e5a0ab427099f51ea66483d6db }}/betweenjobs:${{ github.sha }}'